@import "../../../../style/mixins";

.offerings__header {
  font-size: 16px;
  text-transform: uppercase;
  color: $basic-gray;
  margin: 0 0 $block-space*2;

  @media (min-width: $breakpoint-sm) {
    font-size: 18px;
  }

  @media (min-width: $breakpoint-lg) {
    font-size: 20px;
  }

  @media (min-width: $breakpoint-xl) {
    font-size: 24px;
  }
}

.offerings__content-wrapper {
  margin-bottom: $block-space;
}

.offerings__offer-icon {
  height: 50px;
  width: 50px;
  border: 2px solid $basic-yellow;
  padding: $block-space_quarter;
  @include svg();
}

.offerings__offer-description {
  color: $basic-gray;
  font-size: 14px;

  @media (min-width: $breakpoint-sm) {
    font-size: 16px;
  }

  @media (min-width: $breakpoint-md) {
    font-size: 18px;
  }
}