include ../../../../pug/mixins/section-header

section.block
    +sectionHeaderLight('Наши преимущества','внедрением современных технологий на рынке услуг пассажирских перевозок компании Lita4ki удалось существенно повысить качество обслуживания')
    .container
        .row
            .advantages_list__advantage-wrapper(data-aos='zoom-in-up').col-md-3.col-sm-6.col-6
                .advantages_list__advantage
                    div
                        .advantages_list__advantage-icon
                            include ./images/personal-security.svg
                        h3.advantages_list__advantage-name Безопасность
                        p.advantages_list__advantage-description Все наши пасажиры застрахованы
            .advantages_list__advantage-wrapper(data-aos='zoom-in-up').col-md-3.col-sm-6.col-6
                .advantages_list__advantage
                    div
                        .advantages_list__advantage-icon
                            include ./images/driving-test.svg
                        h3.advantages_list__advantage-name Профессиональные водители
                        p.advantages_list__advantage-description Все водители с большим стажем работы, вежливы и внимательны к пассажирам
            .advantages_list__advantage-wrapper(data-aos='zoom-in-up').col-md-3.col-sm-6.col-6
                .advantages_list__advantage
                    div
                        .advantages_list__advantage-icon
                            include ./images/logistics-delivery-truck-and-clock.svg
                        h3.advantages_list__advantage-name Пунктуальность
                        p.advantages_list__advantage-description Вы можете быть уверенны, что попадете в пункт назначения в точное время
            .advantages_list__advantage-wrapper(data-aos='zoom-in-up').col-md-3.col-sm-6.col-6
                .advantages_list__advantage
                    div
                        .advantages_list__advantage-icon
                            include ./images/support.svg
                        h3.advantages_list__advantage-name Поддержка 24/7
                        p.advantages_list__advantage-description Наши операторы работают круглосуточно
            .advantages_list__advantage-wrapper(data-aos='zoom-in-up').col-md-3.col-sm-6.col-6
                .advantages_list__advantage
                    div
                        .advantages_list__advantage-icon
                            include ./images/invest.svg
                        h3.advantages_list__advantage-name Лучшие цены
                        p.advantages_list__advantage-description У нас лучшее соотношение цены/качество. Звоните, заказывайте и убедитесь сами
            .advantages_list__advantage-wrapper(data-aos='zoom-in-up').col-md-3.col-sm-6.col-6
                .advantages_list__advantage
                    div
                        .advantages_list__advantage-icon
                            include ./images/icon.svg
                        h3.advantages_list__advantage-name Оплата по карте
                        p.advantages_list__advantage-description Мы принимаем оплату по Visa и MasterCard
            .advantages_list__advantage-wrapper(data-aos='zoom-in-up').col-md-3.col-sm-6.col-6
                .advantages_list__advantage
                    div
                        .advantages_list__advantage-icon
                            include ./images/tag.svg
                        h3.advantages_list__advantage-name Скидки
                        p.advantages_list__advantage-description Детям -20%, а также скидки при оплате обратного проезда
            .advantages_list__advantage-wrapper(data-aos='zoom-in-up').col-md-3.col-sm-6.col-6
                .advantages_list__advantage
                    div
                        .advantages_list__advantage-icon
                            include ./images/car.svg
                        h3.advantages_list__advantage-name Комфорт
                        p.advantages_list__advantage-description Салон чистый и комфортный