@import '../../../../style/mixins';

.avtopark__container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
  // swiper things
  & .swiper-slide {
    position: relative;
    max-width: 35%;

    @media (max-width: $breakpoint-lg - 1) {
      max-width: 75%;
    }

  }

  & .swiper-slide:before {
    content: '';
    position: absolute;
    top: $block-space-half;
    bottom: $block-space-half;
    right: $block-space-half;
    left: $block-space-half;
    border: 1px solid $basic-white;
    z-index: 1;
  }
}

.avtopark__item {
  & img {
    max-width: 100%;
  }
}