include ../../../../pug/mixins/section-header

section.block
    +sectionHeaderLight('Наш автопарк','Перед поездкой каждое транспортное средство тщательно осматривается механиками. Это необходимо для того, чтобы исключить форс-мажорные ситуации в пути.')

    .avtopark__container
        .swiper-wrapper
            .swiper-slide
                .avtopark__item.avtopark__item_1
            .swiper-slide
                .avtopark__item.avtopark__item_2
            .swiper-slide
                .avtopark__item.avtopark__item_3
            .swiper-slide
                .avtopark__item.avtopark__item_4
        .swiper-custom-container
            .avtopark__button-prev.swiper-custom-arrow
            .swiper-pagination
            .avtopark__button-next.swiper-custom-arrow.swiper-custom-arrow_next