include ../../../../pug/mixins/section-header

section(id='cta').block.cta
    .container
        .row
            .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-sm-10.offset-sm-1.col-12
                .cta__content
                    h2.cta__header Вы готовы заказать пассажирскую перевозку ?
                    p.cta__description Сделайте заказ прямо сейчас и получите приятный бонус при первом заказе
                    .cta__action_buttons
                        button.button.button_light.button_big.button_border-light.button_big-sides-margins Да, я хочу заказать
                        button.button.button_dark.button_big.button_no-background.button_big-sides-margins.button_border-light Нет, у меня есть вопросы