include ../../../../pug/mixins/section-header

section(id='details').block.block__title_dark.details__custom-background
    +sectionHeaderNoBackground('В Москву быстро и с комфортом','Мы занимаемся организацией международных пассажирских перевозок много лет. Автопарк нашей компании находится в городе Сумы. Организовываем международные пассажирские перевозки по странам Европы и СНГ. У нас в распоряжении легковые автомобили и микроавтобусы от 4 до 12 мест с разными условиями комфорта. Об этом Вы можете ознакомиться выше или перезвонив по номерам, указанными на сайте.\n' +
    'Все сотрудники нашей компании прошли тестирование и другие проверки, чтобы Вы могли определить уровень их профессионализма и ответственности. Это позволяет нашим пассажирам чувствовать себя в безопасности и не переживать о дороге.\n' +
    'Так как у нас свой транспорт, то мы работаем без посредников. Именно это позволяет нам не завышать цены на наши услуги и отличаться на рынке не только качеством, но и лояльным ценообразованием. Вы можете убедиться в этом перезвонив нам.\n' +
    'Заказать пассажирские перевозки очень просто. Просто позвоните нам или заполните форму обратной связи.')
