include ../../../../pug/mixins/section-header

section(id='feedback').block
    +sectionHeaderLight('Отзывы','Впечания наших клиентов.')
    .container
        .row
            .col-12
                .feedback__slider
                    .swiper-wrapper
                        .swiper-slide
                            .feedback
                                .feedback__image-wrapper
                                    .feedback__image-container.feedback__no_photo
                                .feedback__text-wrapper
                                    span.feedback__name Елена Корсакова
                                    .feedback__rating
                                    span.feedback__text Здравствуйте, хочу выразить благодарность Ольге Мазна, которая понятно, терпеливо и чётко поясняла и отвечала на вопросы, которые ей задавала ( т к обратилась впервые и много было вопросов). А также огромное спасибо водителю маршрутного такси номер 1747, с которым посчастливилось ехать с Москвы до Сум и через неделю обратно. Водитель - профессионал, мастер своего дела. От поездки получили только положительные эмоции.
                        .swiper-slide
                            .feedback
                                .feedback__image-wrapper
                                    .feedback__image-container.feedback__photo1
                                .feedback__text-wrapper
                                    span.feedback__name Алла Баева
                                    .feedback__rating
                                    span.feedback__text Хочу выразить благодарность ребятам и фирме в целом ,сегодня везли женщину в возрасте ,боялась переживала , что молодые горячие водители,но нет оказалось напрасно.доехали быстро ,аккуратно с комфортом, довезли до пункта назначения ) .спасибо...
                        .swiper-slide
                            .feedback
                                .feedback__image-wrapper
                                    .feedback__image-container.feedback__photo2
                                .feedback__text-wrapper
                                    span.feedback__name Элина Леоненко
                                    .feedback__rating
                                    span.feedback__text Здравствуйте,хочу поблагодарить замечательного водителя- Вадима,с которым мы сегодня несмотря на кошмарную погоду,благополучно добрались до Москвы. Огромное- СПАСИБО!))))
                        .swiper-slide
                            .feedback
                                .feedback__image-wrapper
                                    .feedback__image-container.feedback__no_photo
                                .feedback__text-wrapper
                                    span.feedback__name Женя
                                    .feedback__rating
                                    span.feedback__text Давно пользуюсь этой службой, очень довольна. Ребята вежливые, всегда помогут с багажом, с проблемами, если они возникают, всегда входят в понимание. Спасибо вам Огромное. Удачи и процветания в бизнесе
                        .swiper-slide
                            .feedback
                                .feedback__image-wrapper
                                    .feedback__image-container.feedback__no_photo
                                .feedback__text-wrapper
                                    span.feedback__name Дима
                                    .feedback__rating
                                    span.feedback__text Отличный сервис, опытные водителя) Качественное обслуживание. Только, появился нюанс с таможней (ну вы поняли) и в связи с этим поднялась так же и цена. Ну это дело ваше , кому не нравиться , тот "пеша". Ведь ни каждый водитель и не каждый сервис заберет вас от подъезда , расскажет-поможет на таможне и с ветерком да и местами весело довезет к Анино) Удачи Вам на дороге!
                        .swiper-slide
                            .feedback
                                .feedback__image-wrapper
                                    .feedback__image-container.feedback__no_photo
                                .feedback__text-wrapper
                                    span.feedback__name Марина
                                    .feedback__rating
                                    span.feedback__text Компания супер,пользуюсь давно, все нравится и устраивает. Водителя, вообще умнички, хорошенькие)
                        .swiper-slide
                            .feedback
                                .feedback__image-wrapper
                                    .feedback__image-container.feedback__no_photo
                                .feedback__text-wrapper
                                    span.feedback__name Женя
                                    .feedback__rating
                                    span.feedback__text Только литачками езжу в Москву, остальные безответственные. Очень много раз ранее подводили со временем, а у меня то вокзал, то аэропорт...
                    .swiper-custom-container
                        .feedback__button-prev.swiper-custom-arrow
                        .swiper-pagination
                        .feedback__button-next.swiper-custom-arrow.swiper-custom-arrow_next