include ../../../../pug/mixins/section-header

section.block
    +sectionHeaderLight('Отзывы','Оставьте свои впечатления о поездке.')

    .feedback__slider
        .swiper-wrapper
            .swiper-slide
                .feedback
                    .feedback__image-wrapper
                        .feedback__image-container.feedback__photo1
                    .feedback__text-wrapper
                        span.feedback__name Андрей Иванов
                        .feedback__rating
                        span.feedback__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, ea
            .swiper-slide
                .feedback
                    .feedback__image-wrapper
                        .feedback__image-container.feedback__photo1
                    .feedback__text-wrapper
                        span.feedback__name Андрей Иванов
                        .feedback__rating
                        span.feedback__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, ea
            .swiper-slide
                .feedback
                    .feedback__image-wrapper
                        .feedback__image-container.feedback__photo1
                    .feedback__text-wrapper
                        span.feedback__name Андрей Иванов
                        .feedback__rating
                        span.feedback__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, ea
            .swiper-slide
                .feedback
                    .feedback__image-wrapper
                        .feedback__image-container.feedback__photo1
                    .feedback__text-wrapper
                        span.feedback__name Андрей Иванов
                        .feedback__rating
                        span.feedback__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, ea
            .swiper-slide
                .feedback
                    .feedback__image-wrapper
                        .feedback__image-container.feedback__photo1
                    .feedback__text-wrapper
                        span.feedback__name Андрей Иванов
                        .feedback__rating
                        span.feedback__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, ea
            .swiper-slide
                .feedback
                    .feedback__image-wrapper
                        .feedback__image-container.feedback__photo1
                    .feedback__text-wrapper
                        span.feedback__name Андрей Иванов
                        .feedback__rating
                        span.feedback__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, ea
        .swiper-custom-container
            .feedback__button-prev.swiper-custom-arrow
            .swiper-pagination
            .feedback__button-next.swiper-custom-arrow.swiper-custom-arrow_next