include ../../../../pug/mixins/section-header

section(id='form').block
    +sectionHeaderLight('Быстро, Удобно, Надежно','Мы ценим ваш выбор, поэтому стараемся чтобы вы всегда оставались довольны нашей работой. Предлагаем вам пассажирские перевозки по лучшему соотношению цены/качество.')
    .container-fluid.application-form__container-fluid-restriction
        .row
            .col-12.application-form__container-decoration
                .application-form__container
                    p.application-form__legend Оставьте заявку и мы ответим на все интересующие вас вопросы
                    label(for='country').application-form__country-selector Выберете страну
                        span
                            select(id='country')
                                option(value='ru') Россия
                                option(selected value='ua') Украина
                                option(value='pl') Польша
                                option(value='it') Италия
                    form.application-form__content
                        .application-form__inputs-container
                            .application-form__input-wrapper
                                label.application-form__input-label(for='name')
                                    input.application-form__input(type=text, id='name' placeholder='Имя')
                            .application-form__input-wrapper
                                label.application-form__input-label(for='phone')
                                    input.application-form__input(type=text, id='phone' placeholder='Телефон *' required=true)
                        .application-form__textarea-wrapper
                            label(for='message')
                                textarea.application-form__input(rows=4 cols=100 id='message' placeholder='Сообщение')
                        button.button.button_medium.button_dark.button_medium-sides-margins.button_medium-margin(id='submitFormButton') Отправить