@import '../../../../style/mixins';

.application-form__container-fluid-restriction {
  max-width: 1200px;
}

.application-form__container-decoration {

  position: relative;
  border: 2px solid $basic-gray;

  &:before, &:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    background-color: $basic-white;
  }

  &:before {
    background: red;
    height: 110%;
    width: 20%;
    top: 0;
    transform: translate(-50%, -2%);

    @media (min-width: $breakpoint-md) {
      transform: translate(-50%, -5%);
    }
    background: $basic-white;
  }

  &:after {
    width: 50px;
    height: 50px;
    border: 1px solid $basic-gray;
    top: 0;
    transform: translate(-50%, -26%);

    @media (min-width: $breakpoint-md) {
      transform: translate(-50%, -50%);
    }
    background: $basic-white url(./images/arrow.svg?external) no-repeat center/29px;
  }

}

.application-form__container {

  max-width: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: $block-space*3 0 0  0;
  z-index: 1;
  margin: auto;

  & > * {
    position: relative;
    z-index: 3;
  }
}

.application-form__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 $block-space_quarter;

  @media (min-width: $breakpoint-sm) {
    padding: 0 $block-space_half;
  }
  @media (min-width: $breakpoint-md) {
    padding: 0 $block-space;
  }
  @media (min-width: $breakpoint-lg) {
    padding: 0 $block-space*2;
  }
  @media (min-width: $breakpoint-xl) {
    padding: 0 $block-space*3;
  }
}

.application-form__legend {
  margin-bottom: $block-space*3;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
}

.application-form__inputs-container {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  transition: $transition-speed;
  width: 100%;

  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.application-form__country-selector {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $basic-gray;

  margin : 0 auto $block-space*2 auto;
  @include font-text-bold;

  font-size: 18px;
  line-height: 18px;

  @media (max-width: $breakpoint-md) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (max-width: $breakpoint-lg) {
    font-size: 20px;
    line-height: 20px;
  }

  select {
    position: relative;
    padding: $block-space_quarter ($block-space * 2) $block-space_quarter $block-space_half;
    background: $basic-white;
    border: 2px solid $basic-gray;
    outline: none;
    margin-left: $block-space;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;

    background: url(./images/arrow-top.svg?inline-css) no-repeat right $block-space_half center / $block-space;

    &:focus {
      background-image: url(./images/arrow-bottom.svg?inline-css);
    }
  }
}

.application-form__input-wrapper {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $basic-gray;
  width: 100%;
  margin-bottom: $block-space*2;
  transition: $transition-speed;

  @media (min-width: $breakpoint-lg) {
    width: 48%;
  }
}

.application-form__textarea-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $basic-gray;
  width: 100%;
  margin: auto;
}

.application-form__input-label {
  padding-bottom: $block-space_quarter;
  width: 100%;
}

.application-form__input {
  width: 100%;
  outline: none;
  border: none;
  padding-left: $block-space;

  @include font-text-bold;
  font-size: 18px;
  line-height: 18px;

  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > *:not(:first-child) {
      margin-top: 20px;
    }
  }
  @media (max-width: $breakpoint-md) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (max-width: $breakpoint-lg) {
    font-size: 20px;
    line-height: 20px;
  }
}