include ../../../../pug/mixins/section-header

section.block
    +sectionHeaderLight('Быстро, Удобно, Надежно','Мы ценим ваш выбор, поэтому стараемся чтобы вы всегда оставались довольны нашей работой. Предлагаем вам пассажирские перевозки по лучшему соотношению цены/качество.')
    .container
        .row
            .application-form__container.col-12
                p.application-form__legend Оставьте заявку и мы ответим на все интересующие вас вопросы
                form.application-form__content
                    .application-form__inputs-container
                        div.application-form__input-wrapper.col-xl-5.col-lg-5.col-md-6.col-sm-8.col-8
                            label.application-form__input-label(for='applicationName')  Имя
                            input.application-form__input(type=text, id='applicationName')
                        div.application-form__input-wrapper.col-xl-5.col-lg-5.col-md-6.col-sm-8.col-8
                            label.application-form__input-label(for='applicationPhone') Телефон
                            input.application-form__input(type=text, id='applicationPhone')
                    button.button.button_small.button_dark.button_small-margin Отправить