header.header
    .header_logo-container(data-aos="fade-right", data-aos-delay="500")
        //a(href='#').header__logo
            include ./images/lita4ki-logo.svg
    nav
        .header__menu-button
            div
        .header__menu-popup
            .container
                .row
                    .col-12
                        ul.header__menu-items
                            li.header__menu-item
                                a.header__menu-item-link(href='#') Услуги
                            li.header__menu-item
                                a.header__menu-item-link(href='#') Отзывы
                            li.header__menu-item
                                a.header__menu-item-link(href='#') Новости
                            li.header__menu-item
                                a.header__menu-item-link(href='#') Всякое
    .container
        .row
            .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12
                h1.header__title Ежедневные поездки в москву
                p.header__description uis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        ul.header__contacts
            li
                a(href='tel:+380954504541').header__contact +38 (095) 450-45-41
            li
                a(href='tel:+380976697151').header__contact +38 (097) 669-71-51
            li
                a(href='tel:+79151121010').header__contact +7 (915) 112-10-10
            li
                a(href='tel:+79295015072').header__contact +7 (929) 501-50-72