header(id='header').header
    .header_logo-container(data-aos="fade-right", data-aos-delay="500")
        //a(href='#').header__logo
            include ./images/lita4ki-logo.svg
    nav
        .header__menu-button
            div
        .header__menu-popup
            .container
                .row
                    .col-12
                        ul.header__menu-items
                            li.header__menu-item
                                a.header__menu-item-link(href='#') Услуги
                            li.header__menu-item
                                a.header__menu-item-link(href='#') Отзывы
                            li.header__menu-item
                                a.header__menu-item-link(href='#') Новости
                            li.header__menu-item
                                a.header__menu-item-link(href='#') Всякое
    .container.header__flex-container
        .row
            .col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-12
                h1.header__title Ежедневные утренние и вечерние поездки в москву
                p.header__description Путешествуйте комфортно и безопасно, а мы об этом позаботимся! Регулярные утренние и вечерние рейсы в Москву комфортабельным микроавтобусом Mercedes, ценой и качеством услуг вы будете приятно удивлены
        ul.header__contacts
            li.header__contact
                a(href='tel:+380954504541').header__contact-link
                    .header__contact-icon-wrapper
                        include ../footer/images/phone.svg
                    span +38 (095) 450-45-41
            li.header__contact
                a(href='tel:+380976697151').header__contact-link
                    .header__contact-icon-wrapper
                        include ../footer/images/phone.svg
                    span +38 (097) 669-71-51
            li.header__contact
                a(href='tel:+79151121010').header__contact-link
                    .header__contact-icon-wrapper
                        include ../footer/images/phone.svg
                    span +7 (915) 112-10-10
            li.header__contact
                a(href='tel:+79295015072').header__contact-link
                    .header__contact-icon-wrapper
                        include ../footer/images/phone.svg
                    span +7 (929) 501-50-72
            li.header__contact
                a(href='viber://add?number=%2B380954504541').header__contact-link
                    .header__contact-icon-wrapper
                        include ../footer/images/viber.svg
                    span +38 (095) 450-45-41
            li.header__contact
                a(href='viber://add?number=%2B79151121010').header__contact-link
                    .header__contact-icon-wrapper
                        include ../footer/images/viber.svg
                    span +7 (915) 112-10-10
            li.header__contact
                a(href='https://vk.com/lita4ki' target="_blank").header__contact-link
                    .header__contact-icon-wrapper
                        include ../footer/images/vk.svg
                    span группа VK
            li.header__contact
                a(href='http://ingrampro.com/sumymoskva' target="_blank").header__contact-link
                    .header__contact-icon-wrapper
                        include ../footer/images/instagram.svg
                    span Канал Instagram
            li.header__contact
                a(href='mailto:lita4ki@gmail.com').header__contact-link
                    .header__contact-icon-wrapper
                        include ../footer/images/mail.svg
                    span lita4ki@gmail.com
        button(id='callMe').button.button_medium.button_light.button_medium-sides-margins.button__call-me  Перезвоните мне
    a(href='#advantages' id='readMore').header__mouse-link
        .header__mouse-wrapper
            .header__mouse
                .header__mouse-scroll-item
            span.header__mouse-description Прокрутите вниз