include ../../../../pug/mixins/section-header

section(id='routes').block
    +sectionHeaderLight('Маршруты','Мы осуществляем не только международные перевозки, но и предлагаем своим клиентам туристические туры.')

    .routes__container
        .swiper-wrapper
            .swiper-slide.routes__slide.routes__pictures_moscow
                .routes__slide-container
                    h3.routes__name Сумы - Москва
            .swiper-slide.routes__slide.routes__pictures_rome
                .routes__slide-container
                    h3.routes__name Сумы - Рим
            .swiper-slide.routes__slide.routes__pictures_marcel
                .routes__slide-container
                    h3.routes__name Сумы - Марсель
        .swiper-custom-container
            .routes__button-prev.swiper-custom-arrow
            .swiper-pagination
            .routes__button-next.swiper-custom-arrow.swiper-custom-arrow_next