include ../../../../pug/mixins/section-header

section(id='routes').block
    +sectionHeaderLight('Маршруты','Мы осуществляем пассажирские перевозки по следующим направлениям.')

    .routes__container
        .swiper-wrapper
            .swiper-slide.routes__slide.routes__pictures_moscow
                .routes__slide-container
                    h3.routes__name Сумы - Москва
            .swiper-slide.routes__slide.routes__pictures_italy
                .routes__slide-container
                    h3.routes__name Сумы - Италия
            .swiper-slide.routes__slide.routes__pictures_poland
                .routes__slide-container
                    h3.routes__name Сумы - Польша
        .swiper-custom-container
            .routes__button-prev.swiper-custom-arrow
            .swiper-pagination
            .routes__button-next.swiper-custom-arrow.swiper-custom-arrow_next