footer(id='footer').footer
    nav.footer__navigation-decoration
        .container
            .row
                .col-12.footer__navigation
                    a(href='#routes').footer__link Маршруты
                    a.footer__link График поездок
                    a(href='#form').footer__link Заказать
                    a(href='#avtopark').footer__link Наш автопарк
                    a(href='#feedback').footer__link Отзывы
    ul.footer__contacts
        li.footer__contact
            a(href='tel:+380954504541').footer__contact-link
                .footer__contact-icon-wrapper
                    include ../footer/images/phone.svg
                span +38 (095) 450-45-41
        li.footer__contact
            a(href='tel:+380976697151').footer__contact-link
                .footer__contact-icon-wrapper
                    include ../footer/images/phone.svg
                span +38 (097) 669-71-51
        li.footer__contact
            a(href='tel:+79151121010').footer__contact-link
                .footer__contact-icon-wrapper
                    include ../footer/images/phone.svg
                span +7 (915) 112-10-10
        li.footer__contact
            a(href='tel:+79295015072').footer__contact-link
                .footer__contact-icon-wrapper
                    include ../footer/images/phone.svg
                span +7 (929) 501-50-72
        li.footer__contact
            a(href='viber://add?number=%2B380954504541').footer__contact-link
                .footer__contact-icon-wrapper
                    include ../footer/images/viber.svg
                span +38 (095) 450-45-41
        li.footer__contact
            a(href='viber://add?number=%2B79151121010').footer__contact-link
                .footer__contact-icon-wrapper
                    include ../footer/images/viber.svg
                span +7 (915) 112-10-10
        li.footer__contact
            a(href='https://vk.com/lita4ki' target="_blank").footer__contact-link
                .footer__contact-icon-wrapper
                    include ../footer/images/vk.svg
                span группа VK
        li.footer__contact
            a(href='http://ingrampro.com/sumymoskva' target="_blank").footer__contact-link
                .footer__contact-icon-wrapper
                    include ../footer/images/instagram.svg
                span Канал Instagram
        li.footer__contact
            a(href='mailto:lita4ki@gmail.com').footer__contact-link
                .footer__contact-icon-wrapper
                    include ../footer/images/mail.svg
                span lita4ki@gmail.com
    .footer__logo-container
        .footer__logo-wrapper
            img(src='/assets/static/lita4ki-logo.svg' alt='Lita4ki - Ежедневные поездки в москву и зарубежье, нерегулярные перевозки.')
        .footer__copyright
            span © 2019 Lita4ki - Все права защищены. Политика конфиденциальности. Любое несанкционированное копирование запрещено.