footer.footer
    nav.footer__navigation
        a.footer__link График поездок
        a.footer__link Наш автопарк
        a.footer__link Маршруты

    ul.footer__contacts
        li.footer__contact
            a(href='tel:+380508956063').footer__contact-link
                .footer__contact-icon-wrapper
                    include ../header/images/phone.svg
                span +38 (050) 895-60-63
        li.footer__contact
            a(href='tel:+380508956063').footer__contact-link
                .footer__contact-icon-wrapper
                    include ../header/images/phone.svg
                span +38 (050) 895-60-63
        li.footer__contact
            a(href='mailto:alex.zakorko2015@gmail.com').footer__contact-link
                .footer__contact-icon-wrapper
                    include ../header/images/mail.svg
                span alex.zakorko2015@gmail.com
        li.footer__contact
            a(href='viber://chat?number=380508956063').footer__contact-link
                .footer__contact-icon-wrapper
                    include ../header/images/viber.svg
                span +38 (050) 895-60-63
        li.footer__contact
            a(href='tg://resolve?domain=<380508956063>').footer__contact-link
                .footer__contact-icon-wrapper
                    include ../header/images/telegram.svg
                span +38 (050) 895-60-63
        li.footer__contact
            a(href='href="skype:username?callMeSkype').footer__contact-link
                .footer__contact-icon-wrapper
                    include ../header/images/skype.svg
                span callMeSkype