include ../../pug/mixins/head

+head('test')
body(title='Перевозки')
    include ./components/header/header
    include ./components/advantages/advantages
    include ./components/routes/routes
    include ./components/avtopark/avtopark
    include ./components/offerings/offerings
    include ./components/order/order
    include ./components/feedback/feedback
    include ./components/form/form
    //include ./components/cta/cta
    include ./components/details/details
    include ./components/footer/footer
